@import "tailwindcss";

@theme {
	--font-roboto: 'Roboto', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;
	--color-brand-orange: #F7931D;
	--color-brand-pink: #EC008B;
	--color-brand-purple: #91268F;
	--color-brand-blue: #2A388F;
	--color-brand-cyan: #27A9E1;
}

@layer components {
	.typography {
		p {
			font-family: var(--font-roboto), sans-serif;
		}
		h1 {
			font-family: var(--font-montserrat), sans-serif;
		}
		h2 {
			font-family: var(--font-montserrat), sans-serif;
		}
	}
}
a.active {
	@apply text-brand-orange;
}
a:hover {
	@apply text-brand-orange transition duration-300 ease-in-out delay-100;
}